{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block bodyclass %}{{ block.super }}sidebar-mini skin-green dashboard{% endblock %}

{% block content %}
{% if app_list %}
    {% for app in app_list %}
        <div class="col-xs-8">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title"><a href="{{ app.app_url }}" class="section" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">{{ app.name }}</a></h3>
            </div><!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tbody>
                {% for model in app.models %}
                <tr>
                  {% if model.admin_url %}
                    <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                  {% else %}
                    <th scope="row">{{ model.name }}</th>
                  {% endif %}

                  {% if model.add_url %}
                    <td><a href="{{ model.add_url }}"><i class="fa fa-plus"></i> {% trans 'Add' %}</a></td>
                  {% else %}
                    <td>&nbsp;</td>
                  {% endif %}
                  {% if model.admin_url %}
                    <td><a href="{{ model.admin_url }}" class="changelink"><i class="fa fa-edit"></i> {% trans 'Change' %}</a></td>
                  {% else %}
                    <td>&nbsp;</td>
                  {% endif %}
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div><!-- /.box-body -->
          </div><!-- /.box -->
        </div>
    {% endfor %}
{% else %}
    <p>Você não tem permissão para editar qualquer coisa.</p>
{% endif %}

{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>{% trans 'Recent Actions' %}</h2>
        <h3>{% trans 'My Actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br/>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{{ entry.content_type }}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
</div>
{% endblock %}
