{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
<link rel="stylesheet" type="text/css" href="https://almsaeedstudio.com/themes/AdminLTE/dist/css/AdminLTE.min.css"/>
<link rel="stylesheet" type="text/css" href="https://almsaeedstudio.com/themes/AdminLTE/dist/css/skins/skin-green.min.css"/>

{{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }}login-page{% endblock %}

{% block branding %}{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block left-menu %}{% endblock %}

{% block content-header %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block footer %}{% endblock %}

{% block content-wrapper %}


<!-- background-color: #00a65a;
border-color: #008d4c; -->
<div class="login-box">
  <div class="login-logo">
    <a href="{% url 'admin:index' %}"><b>SIS</b>TRAN</a>
  </div><!-- /.login-logo -->
  <div class="login-box-body">
    {% if form.errors and not form.non_field_errors %}
    <p class="alert alert-danger alert-dismissable">
    {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
    </p>
    {% endif %}
    {% if form.non_field_errors %} 
    {% for error in form.non_field_errors %}
    <p class="alert alert-danger alert-dismissable">
        {{ error }}
    </p>
    {% endfor %}
    {% endif %}
    <p class="login-box-msg">Entre para iniciar a sua sessão</p>
    <form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
      <div class="form-group has-feedback">
        <input id="id_username" name="username" type="text" maxlength="254" class="form-control" placeholder="Usúario">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>        
      <div class="text-red">
      	 {% if form.username.errors %} 
	      	<i class="fa fa-close" style="float:left; margin-top: 3px; margin-right: 5px;"></i> 
	      	{{ form.username.errors }}
	     {% endif %}
   
       </div>
      </div>
      <div class="form-group has-feedback">
        <input id="id_password" name="password" type="password" class="form-control" placeholder="Senha">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
       <div class="text-red">
       {% if form.password.errors %}
           <i class="fa fa-close" style="float:left; margin-top: 3px; margin-right: 5px;"></i>  
        	{{ form.password.errors }}
        {% endif %}
       </div>
        <input type="hidden" name="next" value="{{ next }}" />
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success btn-block btn-flat">Entrar</button>
        </div><!-- /.col -->
      </div>
    </form>

    {% url 'admin_password_reset' as password_reset_url %}
    {% if password_reset_url %}
    <a href="{{ password_reset_url }}">I forgot my password</a>
    {% endif %}
  </div><!-- /.login-box-body -->
  <script type="text/javascript">
    document.getElementById('id_username').focus()
  </script>
</div><!-- /.login-box -->
{% endblock %}