{% load admin_list %}
{% load i18n %}
<p class="paginator">
  {% if pagination_required %}
    <div class="box-footer clearfix">
      <ul class="pagination pagination-sm no-margin pull-right">
        {% for i in page_range %}
            <li>
              {% paginator_number cl i %}
            </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
    <div id="a">
      {{ cl.result_count }}
    </div>
  {% if cl.result_count == 1 %}
    <div id="b">
      {{ cl.opts.verbose_name }}
    </div>
  {% else %}
    <div id="c">
      {{ cl.opts.verbose_name_plural }}
    </div>
  {% endif %}
  {% if show_all_url %}
    <a href="{{ show_all_url }}" class="showall">
      {% trans 'Show all' %}
    </a>
  {% endif %}
  {% if cl.formset and cl.result_count %}
    <input type="submit" name="_save" class="default" value="{% trans 'Save' %}"/>
  {% endif %}
</p>
