{% extends "sistran/base/base.html" %}


{% block options_sidebar_left %}

<li class="treeview">
      <a href="#">
        <i class="fa fa-group "></i> <span>Pessoal</span> <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="treeview-menu" style="display: none;">

            <li><a href="/sistran/proprietario"><i class="fa fa-person"></i> Proprietários</a></li>
            <li><a href="/sistran/motorista"><i class="fa fa-person"></i> Motoristas</a></li>
            <li><a href="/sistran/cobrador"><i class="fa fa-person"></i> Cobradores</a></li>

      </ul>
    </li>

<li class="treeview">
      <a href="#">
        <i class="fa fa-car"></i> <span>Demutran</span> <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="treeview-menu" style="display: none;">

            <li><a href="/sistran/veiculos"><i class="fa fa-car"></i> Veículos</a></li>
            <li><a href="/sistran/vistoria"><i class="fa  fa-list-alt"></i> Vistorias</a></li>

      </ul>
    </li>


{% endblock %}
