{% extends "sistran/base/base.html" %}
{% load staticfiles %}

{% block title %}
    Lista de Permissões · SISTRAN
{% endblock %}

{% block css-dashboard %}{% endblock %}
{% block style-login %}

{% endblock %}

{% block wrapper %}
<div class="wrapper">
  {% block header %}
  {% include "sistran/base/header.html" %}
  {% endblock %}

  {% block sidebar %}
  {% include "sistran/base/sidebar.html" %}
  {% endblock %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    {% block content-header %}
    <section class="content-header">
      <h1>
        Permissões
        <small>Visualização e Gerenciamento</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/sistran/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Permissões</li>
      </ol>
    </section>
    {% endblock %}

    {% block content %}
    <!-- Main content -->
    <section class="content">
      <!-- general form elements -->
      <div class="box">
          <div class="box-header">
            <h3 class="box-title">
            <form id="changelist-search" method="GET">
              <div class="input-group" style="width: 18rem;">
                <input type="text" id="id_text_search" class="form-control input-sm pull-right" placeholder="Buscar Permissão" name="q" value="{{ query }}">
                <div class="input-group-btn">
                  <button type="submit" class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                </div>
              </div>
            </form>
            </h3>
            <div class="box-tools">
              {% if perms.sistran.add_permissao %}
                <a href="{% url "sistran.views.permissao_new" %}" class="btn btn-success btn-flat btn-block" style="margin-top: 5px;"><i class="fa fa-plus"></i>
                  Adicionar Permissão
                </a>
              {% endif %}
            </div>
        </div>
        <!-- form start -->
        <div class="box-body table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Número</th>
                <th>Proprietário</th>
                <th>Marca/Modelo</th>
                <th>Placa</th>
                <th>Data de Cadastramento</th>
                <th>Tipo de Concessão</th>
              </tr>
            </thead>
            <tbody class="upper" id="jetsTableContent">
            {% for permissao in permissoes %}
              <tr class="row-detail" data-href="{% url "sistran.views.permissao_detail" pk=permissao.pk %}">
                <th>{{ permissao.permissao_veiculo.permissao.num_permissao }}</th>
                <td><a href="/sistran/proprietario/{{ permissao.proprietario.id.id.id.id }}">{{ permissao.proprietario.id.id.id.nome }}</a></td>
                <td>{{ permissao.permissao_veiculo.veiculo.marca }}/{{ permissao.permissao_veiculo.veiculo.modelo }}</td>
                <td>{{ permissao.permissao_veiculo.veiculo.placa }}</td>
                <td>{{ permissao.permissao_veiculo.permissao.data|date:"d/F/y"|upper }}</td>
                <td>{{ permissao.permissao_veiculo.permissao.tipo_concessao }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="box-footer clearfix">
          <div class="row">
            <div class="col-xs-5 col-sm-7 mg-t-06">
              <span>
                Mostrando {{ permissoes.start_index }} até {{ permissoes.end_index }} de {{ permissoes.paginator.count }} registros
              </span>
            </div>
            <div class="col-xs-7 col-sm-5">
              <nav>
                <ul class="pager txt-rgt mg-t-0 mg-b-0">
                  <li class="{% if not permissoes.has_previous %}disabled{% endif %}">
                    <a class="btn-pagination" href="?q={{query}}&page={% if permissoes.has_previous %}{{ permissoes.previous_page_number }}{% endif %}" aria-label="Anterior">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>

                  {% if permissoes.paginator.num_pages < 12 %}
                    {% for page in permissoes.paginator.page_range %}
                      <li class="{% if permissoes.number == page %}active{% endif %}">
                        <a class="btn-pagination" href="?q={{ query }}&page={{ page }}">{{ page }}</a>
                      </li>
                    {% endfor %}
                  {% else %}
                    {% if permissoes.number >= 1 and permissoes.number < 5 %}
                      {% for page in permissoes.paginator.page_range %}
                        {% if page <= 5 %}
                          <li class="{% if permissoes.number == page %}active{% endif %}">
                            <a class="btn-pagination" href="?q={{query}}&page={{ page }}">{{ page }}</a>
                          </li>
                        {% endif %}
                      {% endfor %}
                      <li class="disabled">
                        <a class="btn-pagination">...</a>
                      </li>
                      <li class="
                        {% if permissoes.number == permissoes.paginator.num_pages %}
                          active
                        {% endif %}">
                        <a class="btn-pagination" href="?q={{ query }}&page={{ permissoes.paginator.num_pages }}">
                          {{ permissoes.paginator.num_pages }}
                        </a>
                      </li>
                    {% elif permissoes.number >= 5 and permissoes.number < permissoes.paginator.num_pages|add:"-3" %}
                      <li class="{% if permissoes.number == page %}active{% endif %}">
                        <a class="btn-pagination" href="?page=1">1</a>
                      </li>
                      <li class="disabled">
                        <a class="btn-pagination">...</a>
                      </li>
                      {% for page in permissoes.paginator.page_range %}
                        {% if page == permissoes.number %}
                          <li class="{% if permissoes.number == permissoes.previous_page_number %}active{% endif %}">
                            <a class="btn-pagination" href="?page={{ permissoes.previous_page_number }}">{{ permissoes.previous_page_number }}</a>
                          </li>
                          <li class="{% if permissoes.number == page %}active{% endif %}">
                            <a class="btn-pagination" href="?q={{query}}&page={{ page }}">{{ page }}</a>
                          </li>
                          <li class="{% if permissoes.number == permissoes.next_page_number %}active{% endif %}">
                            <a class="btn-pagination" href="?page={{ permissoes.next_page_number }}">{{ permissoes.next_page_number }}</a>
                          </li>
                        {% endif %}
                      {% endfor %}
                      <li class="disabled">
                        <a class="btn-pagination">...</a>
                      </li>
                      <li class="
                        {% if permissoes.number == permissoes.paginator.num_pages %}
                          active
                        {% endif %}">
                        <a class="btn-pagination" href="?q={{ query }}&page={{ permissoes.paginator.num_pages }}">
                          {{ permissoes.paginator.num_pages }}
                        </a>
                      </li>
                    {% elif permissoes.paginator.num_pages|add:"-3" >= 1 and permissoes.number <= permissoes.paginator.num_pages %}
                      <li class="{% if permissoes.number == page %}active{% endif %}">
                        <a class="btn-pagination" href="?page=1">1</a>
                      </li>
                      <li class="disabled">
                        <a class="btn-pagination">...</a>
                      </li>
                      {% for page in permissoes.paginator.page_range %}
                        {% if page >= permissoes.paginator.num_pages|add:"-4" %}
                          <li class="{% if permissoes.number == page %}active{% endif %}">
                            <a class="btn-pagination" href="?q={{query}}&page={{ page }}">{{ page }}</a>
                          </li>
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                  {% endif %}
                  <li class="{% if not permissoes.has_next %}disabled{% endif %}">
                    <a class="btn-pagination" href="?q={{query}}&page={% if permissoes.has_next %}{{ permissoes.next_page_number }}{% endif %}" aria-label="Próximo">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div><!--/.col (left) -->
      <!-- right column -->
    </section>
    <script>
      jQuery(document).ready(function($) {
          $(".row-detail").click(function() {
              window.document.location = $(this).data("href");
          });
      });
      function confirmDelete(deleteUrl) {
        if (confirm("Tem certeza de que deseja excluir esta Permissão?")) {
          document.location = deleteUrl;
        }
      }
    </script>
    {% endblock %}
  </div>
  {% block footer %}
  {% include "sistran/base/footer.html" %}
  {% endblock %}
</div>
{% endblock %}
{% block js-extra-form %}{% endblock %}
{% block js-dashboard %}{% endblock %}
