{% extends "sistran/base/base.html" %}
{% load staticfiles %}

{% block title %}
    Lista de Proprietários - SISTRAN
{% endblock %}

{% block css-dashboard %}{% endblock %}
{% block style-login %}{% endblock %}

{% block wrapper %}
<div class="wrapper">
  {% block header %}
  {% include "sistran/base/header.html" %}
  {% endblock %}

  {% block sidebar %}
  {% include "sistran/base/sidebar.html" %}
  {% endblock %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    {% block content-header %}
    <section class="content-header">
      <h1>
        Proprietários
        <small>Visualização e Gerenciamento</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/sistran/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Proprietários</li>
      </ol>
    </section>
    {% endblock %}

    {% block content %}
    <!-- Main content -->
    <section class="content">
      <!-- general form elements -->
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">
            <form id="changelist-search" method="GET">
              <div class="input-group" style="width: 18rem;">
                <input type="text" id="id_text_search" class="form-control input-sm pull-right" placeholder="Buscar Permissão" name="q" value="{{ query }}">
                <div class="input-group-btn">
                  <button type="submit" class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                </div>
              </div>
            </form>
          </h3>
          <div class="box-tools">
            <div class="input-group" style="width: 150px;">
                {% if perms.sistran.add_proprietario %}
                    <a href="{% url "sistran.views.proprietario_new" %}" class="btn btn-success btn-flat"><i class="fa fa-plus"></i>
                      Adicionar Proprietário
                    </a>
                {% endif %}
            </div>
          </div>
        </div><!-- /.box-header -->
        <!-- form start -->
        <div class="box-body">
          <table class="table table-hover">
            <thead>
              <tr>

                <th>Nome</th>
                <th>CPF</th>
                <th>Número CNH</th>
                <th>Categoria CNH</th>
                  <th>Opções</th>
              </tr>
            </thead>
            <tbody>
            {% for proprietario in proprietarios %}
              <tr class="row-detail" data-href="{% url "sistran.views.proprietario_detail" pk=proprietario.pk %}">

                <td>{{ proprietario.id|upper }}</td>
                <td>{{ proprietario.id.id.id.cpf_cnpj }}</td>
                <td>{{ proprietario.id.num_registro_cnh }}</td>
                <td>{{ proprietario.id.categoria_cnh }}</td>
                <td>
                  {% if perms.sistran.change_proprietario %}
                      <a class="btn btn-primary btn-sm btn-flat" href="{% url "proprietario_edit" pk=proprietario.pk %}">
                        <i class="fa fa-pencil"></i>
                      </a>
                  {% endif %}
                  {% if perms.sistran.delete_proprietario %}
                      <button type="button" class="btn btn-danger btn-sm btn-flat" data-toggle="modal" data-target="#modalConfirmDelete{{ proprietario.pk }}">
                        <i class="fa fa-remove"></i>
                      </button>
                      <!-- Modal Confirm Delete -->
                      <div class="modal fade" id="modalConfirmDelete{{ proprietario.pk }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document" style="width: 36rem;">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title" id="myModalLabel">Confirm delete</h4>
                            </div>
                            <div class="modal-body">
                              Are you sure you want to delete <strong>{{ proprietario.id|upper }}</strong>?
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Cancel</button>
                              <a type="button" class="btn btn-danger btn-flat" href="{% url "proprietario_remove" pk=proprietario.pk %}">Delete</a>
                            </div>
                          </div>
                        </div>
                      </div>
                  {% endif %}
                  <a class="btn btn-info btn-sm btn-flat" href="">
                    <i class="fa fa-car"></i>
                  </a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="box-footer clearfix">
          <div class="row">
            <div class="col-xs-5 col-sm-7 mg-t-06">
              <span>
                Mostrando {{ proprietarios.start_index }} até {{ proprietarios.end_index }} de {{ proprietarios.paginator.count }} registros
              </span>
            </div>
            <div class="col-xs-7 col-sm-5">
              <nav>
                <ul class="pager txt-rgt mg-t-0 mg-b-0">
                  <li class="{% if not proprietarios.has_previous %}disabled{% endif %}">
                    <a class="btn-pagination" href="?q={{query}}&page={% if proprietarios.has_previous %}{{ proprietarios.previous_page_number }}{% endif %}" aria-label="Anterior">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>

                  {% if proprietarios.paginator.num_pages < 12 %}
                    {% for page in proprietarios.paginator.page_range %}
                      <li class="{% if proprietarios.number == page %}active{% endif %}">
                        <a class="btn-pagination" href="?q={{ query }}&page={{ page }}">{{ page }}</a>
                      </li>
                    {% endfor %}
                  {% else %}
                    {% if proprietarios.number >= 1 and proprietarios.number < 5 %}
                      {% for page in proprietarios.paginator.page_range %}
                        {% if page <= 5 %}
                          <li class="{% if proprietarios.number == page %}active{% endif %}">
                            <a class="btn-pagination" href="?q={{query}}&page={{ page }}">{{ page }}</a>
                          </li>
                        {% endif %}
                      {% endfor %}
                      <li class="disabled">
                        <a class="btn-pagination">...</a>
                      </li>
                      <li class="
                        {% if proprietarios.number == proprietarios.paginator.num_pages %}
                          active
                        {% endif %}">
                        <a class="btn-pagination" href="?q={{ query }}&page={{ proprietarios.paginator.num_pages }}">
                          {{ proprietarios.paginator.num_pages }}
                        </a>
                      </li>
                    {% elif proprietarios.number >= 5 and proprietarios.number < proprietarios.paginator.num_pages|add:"-3" %}
                      <li class="{% if proprietarios.number == page %}active{% endif %}">
                        <a class="btn-pagination" href="?page=1">1</a>
                      </li>
                      <li class="disabled">
                        <a class="btn-pagination">...</a>
                      </li>
                      {% for page in proprietarios.paginator.page_range %}
                        {% if page == proprietarios.number %}
                          <li class="{% if proprietarios.number == proprietarios.previous_page_number %}active{% endif %}">
                            <a class="btn-pagination" href="?page={{ proprietarios.previous_page_number }}">{{ proprietarios.previous_page_number }}</a>
                          </li>
                          <li class="{% if proprietarios.number == page %}active{% endif %}">
                            <a class="btn-pagination" href="?q={{query}}&page={{ page }}">{{ page }}</a>
                          </li>
                          <li class="{% if proprietarios.number == proprietarios.next_page_number %}active{% endif %}">
                            <a class="btn-pagination" href="?page={{ proprietarios.next_page_number }}">{{ proprietarios.next_page_number }}</a>
                          </li>
                        {% endif %}
                      {% endfor %}
                      <li class="disabled">
                        <a class="btn-pagination">...</a>
                      </li>
                      <li class="
                        {% if proprietarios.number == proprietarios.paginator.num_pages %}
                          active
                        {% endif %}">
                        <a class="btn-pagination" href="?q={{ query }}&page={{ proprietarios.paginator.num_pages }}">
                          {{ proprietarios.paginator.num_pages }}
                        </a>
                      </li>
                    {% elif proprietarios.paginator.num_pages|add:"-3" >= 1 and proprietarios.number <= proprietarios.paginator.num_pages %}
                      <li class="{% if proprietarios.number == page %}active{% endif %}">
                        <a class="btn-pagination" href="?page=1">1</a>
                      </li>
                      <li class="disabled">
                        <a class="btn-pagination">...</a>
                      </li>
                      {% for page in proprietarios.paginator.page_range %}
                        {% if page >= proprietarios.paginator.num_pages|add:"-4" %}
                          <li class="{% if proprietarios.number == page %}active{% endif %}">
                            <a class="btn-pagination" href="?q={{query}}&page={{ page }}">{{ page }}</a>
                          </li>
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                  {% endif %}
                  <li class="{% if not proprietarios.has_next %}disabled{% endif %}">
                    <a class="btn-pagination" href="?q={{query}}&page={% if proprietarios.has_next %}{{ proprietarios.next_page_number }}{% endif %}" aria-label="Próximo">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div><!--/.col (left) -->
      <!-- right column -->
    </section>
    <script>
      jQuery(document).ready(function($) {
          $(".row-detail").click(function() {
              window.document.location = $(this).data("href");
          });
      });
      function confirmDelete(deleteUrl) {
        if (confirm("Tem certeza de que deseja excluir esta Proprietario?")) {
          document.location = deleteUrl;
        }
      }
    </script>
    {% endblock %}
  </div>
  {% block footer %}
  {% include "sistran/base/footer.html" %}
  {% endblock %}
</div>
{% endblock %}
{% block js-dashboard %}{% endblock %}
