{% extends "sistran/base/base.html" %}
{% load staticfiles %}

{% block title %}
    Lista de Proprietários - SISTRAN
{% endblock %}

{% block css-dashboard %}{% endblock %}
{% block style-login %}{% endblock %}

{% block wrapper %}
<div class="wrapper">
  {% block header %}
  {% include "sistran/base/header.html" %}
  {% endblock %}

  {% block sidebar %}
  {% include "sistran/base/sidebar.html" %}
  {% endblock %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    {% block content-header %}
    <section class="content-header">
      <h1>
        Proprietários
        <small>Visualização e Gerenciamento</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/sistran/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Proprietários</li>
      </ol>
    </section>
    {% endblock %}

    {% block content %}
    <!-- Main content -->
    <section class="content">
      <!-- general form elements -->
      <div class="box">
        <div class="box-header">
          <h3 class="box-title"></h3>
          <div class="box-tools">
            <div class="input-group" style="width: 150px;">
              <input type="text" name="table_search" class="form-control input-sm pull-right" placeholder="Search">
              <div class="input-group-btn">
                <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </div>
        </div><!-- /.box-header -->
        <!-- form start -->
        <div class="box-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Opções</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Número CNH</th>
                <th>Categoria CNH</th>
              </tr>
            </thead>
            <tbody>
            {% for proprietario in proprietarios %}
              <tr>
                <td>
                  {% if perms.sistran.change_proprietario %}
                      <a class="btn btn-primary btn-sm btn-flat" href="{% url "proprietario_edit" pk=proprietario.pk %}">
                        <i class="fa fa-pencil"></i>
                      </a>
                  {% endif %}
                  {% if perms.sistran.delete_proprietario %}                    
                      <button type="button" class="btn btn-danger btn-sm btn-flat" data-toggle="modal" data-target="#modalConfirmDelete{{ proprietario.pk }}">
                        <i class="fa fa-remove"></i>
                      </button>
                      <!-- Modal Confirm Delete -->
                      <div class="modal fade" id="modalConfirmDelete{{ proprietario.pk }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document" style="width: 36rem;">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title" id="myModalLabel">Confirm delete</h4>
                            </div>
                            <div class="modal-body">
                              Are you sure you want to delete <strong>{{ proprietario.id|upper }}</strong>?
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Cancel</button>
                              <a type="button" class="btn btn-danger btn-flat" href="{% url "proprietario_remove" pk=proprietario.pk %}">Delete</a>
                            </div>
                          </div>
                        </div>
                      </div>
                  {% endif %}
                  <a class="btn btn-info btn-sm btn-flat" href="">
                    <i class="fa fa-car"></i>
                  </a>

                </td>
                <td><a href="{% url "sistran.views.proprietario_detail" pk=proprietario.pk %}">{{ proprietario.id|upper }}</a></td>
                <td>{{ proprietario.id.id.id.cpf_cnpj }}</td>
                <td>{{ proprietario.num_cnh }}</td>
                <td>{{ proprietario.cat_cnh|upper }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="box-footer clearfix">
          <div class="row">
            <div class="col-sm-7" style="margin-top: 1rem;">
              <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">
                Mostrando 1 até 10 de 37 registros
              </div>
            </div>
            <div class="col-sm-5" style="text-align: right;">
              <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                <ul class="pagination" style="margin: 0;">
                  <li class="paginate_button previous disabled" id="example1_previous">
                    <a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0">Anterior</a>
                  </li>
                  <li class="paginate_button active">
                    <a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0">1</a>
                  </li>
                  <li class="paginate_button">
                    <a href="#" aria-controls="example1" data-dt-idx="2" tabindex="0">2</a>
                  </li>
                  <li class="paginate_button">
                    <a href="#" aria-controls="example1" data-dt-idx="3" tabindex="0">3</a>
                  </li>
                  <li class="paginate_button">
                    <a href="#" aria-controls="example1" data-dt-idx="4" tabindex="0">4</a>
                  </li>
                  <li class="paginate_button">
                    <a href="#" aria-controls="example1" data-dt-idx="5" tabindex="0">5</a>
                  </li>
                  <li class="paginate_button">
                    <a href="#" aria-controls="example1" data-dt-idx="6" tabindex="0">6</a>
                  </li>
                  <li class="paginate_button next" id="example1_next">
                    <a href="#" aria-controls="example1" data-dt-idx="7" tabindex="0">Próximo</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div><!--/.col (left) -->
      {% if perms.sistran.add_proprietario %}
          <a href="{% url "sistran.views.proprietario_new" %}" class="btn btn-success btn-flat"><i class="fa fa-plus"></i>
            Adicionar Proprietário
          </a>
      {% endif %}
      <!-- right column -->
    </section>
    <script>
      function confirmDelete(deleteUrl) {
        if (confirm("Tem certeza de que deseja excluir este Proprietário?")) {
          document.location = deleteUrl;
        }
      }
    </script>
    {% endblock %}
  </div>
  {% block footer %}
  {% include "sistran/base/footer.html" %}
  {% endblock %}
</div>
{% endblock %}
{% block js-dashboard %}{% endblock %}
