{% extends "sistran/base/base.html" %}

{% block title %}
500 Erro Interno do Servidor · SISTRAN
{% endblock %}

{% block style-login %}{% endblock %}

{% block header %}
{% include "sistran/base/header.html" %}
{% endblock %}

{% block sidebar %}
{% include "sistran/base/sidebar.html" %}
{% endblock %}

{% block content-header %}
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    500 Erro Interno do Servidor
  </h1>
  <ol class="breadcrumb">
    <li><a href="/sistran/"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Erro 500</li>
  </ol>
</section>
{% endblock %}

{% block content %}
<!-- Main content -->
<section class="content">
  <div class="error-page">
    <h2 class="headline text-red">500</h2>
    <div class="error-content">
      <h3><i class="fa fa-warning text-red"></i> Oops! Algo deu errado.</h3>
      <p>
        Vamos trabalhar em corrigir isso imediatamente.
        Enquanto isso, você pode <a class="link-green" href="/sistran/">voltar ao dashboard</a> ou tentar usar o formulário de busca.
      </p>
      <form class="search-form">
        <div class="input-group">
          <input type="text" name="search" class="form-control" placeholder="Buscar">
          <div class="input-group-btn">
            <button type="submit" name="submit" class="btn btn-danger btn-flat"><i class="fa fa-search"></i></button>
          </div>
        </div><!-- /.input-group -->
      </form>
    </div>
  </div><!-- /.error-page -->
</section><!-- /.content -->
{% endblock %}

{% block footer %}
{% include "sistran/base/footer.html" %}
{% endblock %}
