<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Template PDF</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://localhost:8000/static/css/v4-alpha-bootstrap.css">
    <!-- Style Report -->
    <link rel="stylesheet" href="http://localhost:8000/static/css/report.css">
  </head>
  <body>
    <div class="container m-t-6-rem">
      <div class="row">
        <div class="col-xs-6 bg-brasao">
          <div class="col-xs-4 p-d-t-14-8 brd-r-0 brd-b-0">
            <img src="http://localhost:8000/static/img/bandeira-sga.jpg" class="img-bandeira">
          </div>
          <div class="col-xs-4 p-d-t-9-3 brd-l-0 brd-r-0 brd-b-0">
            <p class="text-header">Prefeitura de<br/><strong>SÃO GONÇALO DO<br/>AMARANTE</strong>/RN</p>
          </div>
          <div class="col-xs-4 p-d-t-7-8 brd-l-0 brd-b-0">
            <p class="text-aside">ALVARÁ DE<br/>TRÁFEGO<br/>2016</p>
          </div>
          <div class="col-xs-4 p-d-t-5">
            <p>Categoria</p>
            <p class="text-type">TÁXI<br/>Aeroporto</p>
          </div>
          <div class="col-xs-4 p-d-t-5 brd-l-0 brd-r-0">
            <p>Nº Registro na Cooperativa</p>
            <p class="text-default ft-16 text-center">027</p>
          </div>
          <div class="col-xs-4 p-d-t-5">
            <p>Nº Registro DEMUTRAN</p>
            <p class="text-default ft-16 c-red text-center">
              TESTE
            </p>
          </div>
          <div class="col-xs-12 p-d-t-10 brd-t-0 brd-b-0">
            <p class="text-default ft-18 text-center">DADOS DO AUTORIZATÁRIO</p>
          </div>
          <div class="col-xs-12 p-d-t-5 brd-b-0">
            <p class="m-b-0">Nome</p>
            <p class="text-default ft-16 uppercase">TESTE</p>
          </div>
          <div class="col-xs-6 p-d-t-5 brd-r-0 brd-b-0">
            <p class="m-b-0">CPF</p>
            <p class="text-default ft-16">TESTE</p>
          </div>
          <div class="col-xs-6 p-d-t-5 brd-b-0">
            <p class="m-b-0">RG</p>
            <p class="text-default ft-16 uppercase">
              TESTE
              TESTE
            </p>
          </div>
          <div class="col-xs-12 p-d-t-5">
            <p class="m-b-0">Endereço</p>
            <p class="text-default ft-16 uppercase">Rua RAIMUNDO MENDES, 897<br/> NOVO AMARANTE<br/> São Gonçalo do Amarante/RN
            </p>
          </div>
          <div class="col-xs-12 p-d-t-10 brd-t-0 brd-b-0">
            <p class="text-default ft-18 text-center">CARACTERÍSTICA DO VEÍCULO</p>
          </div>
          <div class="col-xs-7 p-d-t-5">
            <p class="m-b-0">Marca/Modelo</p>
            <p class="text-default ft-16 uppercase">
              TESTE
            </p>
          </div>
          <div class="col-xs-3 p-d-t-5 brd-l-0 brd-r-0">
            <p class="m-b-0">Placa</p>
            <p class="text-default ft-16 text-right uppercase">
              TESTE
            </p>
          </div>
          <div class="col-xs-2 p-d-t-5">
            <p class="m-b-0">Ano</p>
            <p class="text-default ft-16 text-center">
              TESTE
            </p>
          </div>
          <div class="col-xs-12 p-d-t-5 brd-t-0">
            <p class="m-b-0">Veículo Autorizado a ocupar Ponto de Táxi no <strong>AEROPORTO ALUÍZIO ALVES</strong> no exercício da atividade de transporte de passageiro na categoria táxi.</p>
          </div>
          <div class="col-xs-12 p-d-t-5 brd-t-0">
            <p class="m-b-0">Validade deste Alvará</p>
            <p class="text-default ft-16 text-center">11 de Janeiro de 2016</p>
          </div>
          <div class="col-xs-12 brd-t-0">
            <p class="text-center p-d-b-8rem">São Gonçalo do Amarante/RN<br/> 05 de Janeiro de 2015</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Jquery -->
    <script src="http://localhost:8000/static/js/jquery-2.1.4.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://localhost:8000/static/js/v4-alpha-bootstrap.js"></script>
  </body>
</html>