{% extends "sistran/base/base.html" %}
{% load staticfiles %}

{% block title %}
    Lista de Veículos - SISTRAN
{% endblock %}

{% block css-dashboard %}{% endblock %}
{% block style-login %}

{% endblock %}

{% block wrapper %}
<div class="wrapper">
  {% block header %}
  {% include "sistran/base/header.html" %}
  {% endblock %}

  {% block sidebar %}
  {% include "sistran/base/sidebar.html" %}
  {% endblock %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    {% block content-header %}
    <section class="content-header">
      <h1>
        Veículos
        <small>Visualização e Gerenciamento</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/sistran/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Veículos</li>
      </ol>
    </section>
    {% endblock %}

    {% block content %}
    <!-- Main content -->
    <section class="content">
      <!-- general form elements -->
      <div class="box">
        <div class="box-header">
          <h3 class="box-title"></h3>
          <div class="box-tools">
            <div class="input-group" style="width: 150px;">
              <input type="text" name="table_search" class="form-control input-sm pull-right" placeholder="Search">
              <div class="input-group-btn">
                <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </div>
        </div><!-- /.box-header -->
        <!-- form start -->
        <div class="box-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Opções</th>
                <th>Marca</th>
                <th>Placa</th>
                <th>Proprietário</th>
                <th>Categoria Veículo</th>
              </tr>
            </thead>
            <tbody>
            {% for veiculo in veiculos %}
              <tr>
                <th>
                  {% if perms.sistran.change_veiculo %}
                        <a class="btn btn-primary btn-sm btn-flat" href="{% url "veiculo_edit" pk=veiculo.pk %}">
                          <i class="fa fa-pencil"></i>
                        </a>
                  {%endif%}
                   {% if perms.sistran.delete_veiculo %}
                        <a class="btn btn-danger btn-sm btn-flat" href="javascript:confirmDelete('{% url "veiculo_remove" pk=veiculo.pk %}')">
                            <i class="fa fa-remove"></i>
                        </a>
                  {%endif%}
                </th>
                <td>{{ veiculo.modelo|upper}}</td>

                <td><a href="{% url "sistran.views.veiculo_detail" pk=veiculo.pk %}">{{ veiculo.placa|upper }}</a></td>

                {% with veiculo.permissaotemveiculo_set.all|first as ptv %}

                  {% with ptv.permissaotemproprietario_set.all|first as ptp %}
                        <td>{{ ptp.proprietario.id|upper}}</td>
                  {% endwith %}
                {% endwith %}

                <td>{{ veiculo.categoria|upper }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="box-footer clearfix">
          <div class="row">
            <div class="col-xs-5 col-sm-7 mg-t-06">
              <span>
                Mostrando {{ veiculos.start_index }} até {{ veiculos.end_index }} de {{ veiculos.paginator.count }} registros
              </span>
            </div>
            <div class="col-xs-7 col-sm-5">
              <nav>
                <ul class="pager txt-rgt mg-t-0 mg-b-0">
                  <li class="{% if not veiculos.has_previous %}disabled{% endif %}">
                    <a class="btn-pagination" href="?page={% if veiculos.has_previous %}{{ veiculos.previous_page_number }}{% endif %}" aria-label="Anterior">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  {% for page in veiculos.paginator.page_range %}
                    <li class="{% if veiculos.number == page %}active{% endif %}"><a class="btn-pagination" href="?page={{ page }}">{{ page }}</a></li>
                  {% endfor %}
                  <li class="{% if not veiculos.has_next %}disabled{% endif %}">
                    <a class="btn-pagination" href="?page={% if veiculos.has_next %}{{ veiculos.next_page_number }}{% endif %}" aria-label="Próximo">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div><!--/.col (left) -->
       {% if perms.sistran.add_veiculo %}
          <a href="{% url "sistran.views.veiculo_new" %}" class="btn btn-success btn-flat"><i class="fa fa-plus"></i>
            Adicionar Veículo
          </a>
      {%endif%}
      <!-- right column -->
    </section>
    <script>
      function confirmDelete(deleteUrl) {
        if (confirm("Tem certeza de que deseja excluir este Veículo?")) {
          document.location = deleteUrl;
        }
      }
    </script>
    {% endblock %}
  </div>
  {% block footer %}
  {% include "sistran/base/footer.html" %}
  {% endblock %}
</div>
{% endblock %}
{% block js-dashboard %}{% endblock %}
