{% extends "sistran/base/base.html" %}
{% load staticfiles %}

{% block title %}
    Detalhes do Veículo - SISTRAN
{% endblock %}

{% block css-dashboard %}{% endblock %}
{% block style-login %}{% endblock %}

{% block wrapper %}
<div class="wrapper">
  {% block header %}
  {% include "sistran/base/header.html" %}
  {% endblock %}

  {% block sidebar %}
  {% include "sistran/base/sidebar.html" %}
  {% endblock %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    {% block content-header %}
    <section class="content-header">
      <h1>
        Veículo
        <small>Detalhes e Consulta de dados</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/sistran/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/sistran/veiculo/"> Veículos</a></li>
        <li class="active">Detalhes do Veículo</li>
      </ol>
    </section>
    {% endblock %}

    {% block content %}
    <!-- Main content -->
    <section class="content">
      <!-- general form elements -->
      <div class="box">
        <!-- form start -->
        <div class="box-body">
          <div class="row">
            <div class="col-sm-2">Tipo do Veículo</div>
            <div class="col-sm-10">{{ veiculo.tipo_concessao }}</div>
          </div>
          <br/>
          <div class="row">
            <div class="col-sm-2">Marca/Modelo</div>
            <div class="col-sm-10">{{ veiculo.marca|upper }}/{{ veiculo.modelo|upper }}</div>
          </div>
          <br/>
          <div class="row">
            <div class="col-sm-2">Ano</div>
            <div class="col-sm-10">{{ veiculo.ano_fabricacao }}</div>
          </div>
          <br/>
          <div class="row">
            <div class="col-sm-2">Cor</div>
            <div class="col-sm-10">{{ veiculo.cor_predominante }}</div>
          </div>
          <br/>
          <div class="row">
            <div class="col-sm-2">Chassi</div>
            <div class="col-sm-10">{{ veiculo.chassi|upper }}</div>
          </div>
          <br/>
           <div class="row">
            <div class="col-sm-2">Quant. de Passageiros</div>
            <div class="col-sm-10">{{ veiculo.num_passageiros }}</div>
          </div>
          <br/>
           <div class="row">
            <div class="col-sm-2">Quant. de Portas</div>
            <div class="col-sm-10">{{ veiculo.qnt_portas }}</div>
          </div>
          <br/>
           <div class="row">
            <div class="col-sm-2">Placa do Veículo</div>
            <div class="col-sm-10">{{ veiculo.placa|upper }}</div>
          </div>
          <br/>
           <div class="row">
            <div class="col-sm-2">Categoria</div>
            <div class="col-sm-10">{{ veiculo.categoria }}</div>
          </div>
          <br/>
        </div>
      </div><!-- /.box -->
      <a href="/sistran/veiculo/" class="btn btn-success btn-flat">Voltar</a>
    </section>
    {% endblock %}
  </div>
  {% block footer %}
  {% include "sistran/base/footer.html" %}
  {% endblock %}
</div>
{% endblock %}
{% block js-dashboard %}{% endblock %}
