{% extends "sistran/base.html" %}

{% block content %}
    <div class="container">
        <h1>Detalhes de Motoristas <a class="btn btn-primary" href="/motorista">Voltar</a></h1>
        
        <ul class="list-group">
          <li class="list-group-item">{{ motorista.id.id.id.id }}</li>
          <li class="list-group-item">{{ motorista.id }}</li>
          <li class="list-group-item">{{ motorista.id.id.id.cpf_cnpj }}</li>
          <li class="list-group-item">{{ motorista.id.estado_civil }}</li>
          <li class="list-group-item">{{ motorista.id.nacionalidade }}</li>
          <li class="list-group-item">{{ motorista.id.naturalidade }}</li>
          <li class="list-group-item">{{ motorista.id.profissao }}</li>
          <li class="list-group-item">{{ motorista.num_cnh }}</li>
          <li class="list-group-item">{{ motorista.cat_cnh }}</li>
        </ul>
    </div>
{% endblock %}
