{% extends "sistran/base/base_site.html" %}
{% load staticfiles %}
{% load filters %}

{% block title %}
    Novo/Editar Permissão - SISTRAN
{% endblock %}

{% block css-dashboard %}{% endblock %}
{% block style-login %}{% endblock %}

{% block wrapper %}
<div class="wrapper">
  {% block header %}
  {% include "sistran/base/header.html" %}
  {% endblock %}

  {% block sidebar %}
  {% include "sistran/base/sidebar.html" %}
  {% endblock %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    {% block content-header %}
    <section class="content-header">
      <h1>
        Permissão
        <small>Cadastro e Edição</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/sistran/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/sistran/permissao/"> Permissões</a></li>
        <li class="active">Novo/Editar Permissão</li>
      </ol>
    </section>
    {% endblock %}

    {% block content %}
    <!-- Main content -->
    <section class="content">
      <form role="form" class="form-horizontal" method="POST">{% csrf_token %}
        <!-- general form elements -->
        <div class="box">
          <!-- form start -->
          <div class="box-body">
            {% if error %}
              <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-ban"></i> Falha ao Cadastrar!</h4>
                <p>Verifique os campos abaixo e corrija os erros.</p>
              </div>
            {% endif %}
            {% for field in form %}
              <div class="form-group">
                <label for="{{ field.name }}" class="col-sm-2 control-label">
                  {{ field.label }}
                </label>
                <div class="col-sm-10">
                  {{ field|addcss:'form-control' }}
                  <div class="text-red">{{ field.errors }}</div>
                </div>
                <br/>
              </div>
            {% endfor %}
            <div class="box-header with-border">
                <h3 class="box-title">Permissionário</h3>
            </div>
            {% for fieldPessoa in pessoaForm %}
              <div class="form-group">
                <label for="{{ fieldPessoa.name }}" class="col-sm-2 control-label">
                  {{ fieldPessoa.label }}
                </label>
                <div class="col-sm-10">
                  {{ fieldPessoa|addcss:'form-control' }}
                  <div class="text-red">{{ fieldPessoa.errors }}</div>
                </div>
                <br/>
              </div>
            {% endfor %}
            {% for fieldPessoaFisica in pessoaFisicaForm %}
              <div class="form-group">
                <label for="{{ fieldPessoaFisica.name }}" class="col-sm-2 control-label">
                  {{ fieldPessoaFisica.label }}
                </label>
                <div class="col-sm-10">
                  {{ fieldPessoaFisica|addcss:'form-control' }}
                  <div class="text-red">{{ fieldPessoaFisica.errors }}</div>
                </div>
                <br/>
              </div>
            {% endfor %}
            {% for fieldCidadao in cidadaoForm %}
              <div class="form-group">
                <label for="{{ fieldCidadao.name }}" class="col-sm-2 control-label">
                  {{ fieldCidadao.label }}
                </label>
                <div class="col-sm-10">
                  {{ fieldCidadao|addcss:'form-control' }}
                  <div class="text-red">{{ fieldCidadao.errors }}</div>
                </div>
                <br/>
              </div>
            {% endfor %}
            {% for fieldProprietario in proprietarioForm %}
              <div class="form-group">
                <label for="{{ fieldProprietario.name }}" class="col-sm-2 control-label">
                  {{ fieldProprietario.label }}
                </label>
                <div class="col-sm-10">
                  {{ fieldProprietario|addcss:'form-control' }}
                  <div class="text-red">{{ fieldProprietario.errors }}</div>
                </div>
                <br/>
              </div>
            {% endfor %}
            {% for fieldTipoContato in tipoContatoForm %}
              <div class="form-group">
                <label for="{{ fieldTipoContato.name }}" class="col-sm-2 control-label">
                  {{ fieldTipoContato.label }}
                </label>
                <div class="col-sm-10">
                  {{ fieldTipoContato|addcss:'form-control' }}
                  <div class="text-red">{{ fieldTipoContato.errors }}</div>
                </div>
                <br/>
              </div>
            {% endfor %}
            {% for fieldContato in contatoForm %}
              <div class="form-group">
                <label for="{{ fieldContato.name }}" class="col-sm-2 control-label">
                  {{ fieldContato.label }}
                </label>
                <div class="col-sm-10">
                  {{ fieldContato|addcss:'form-control' }}
                  <div class="text-red">{{ fieldContato.errors }}</div>
                </div>
                <br/>
              </div>
            {% endfor %}
            <div class="box-header with-border">
                <h3 class="box-title">Endereço do Permissionário</h3>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-success btn-xs btn-flat" data-toggle="modal" data-target="#addEndereco">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="addEndereco" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Novo Endereço</h4>
                  </div>
                  <div class="modal-body">
                    ...
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-flat" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success btn-flat">Cadastrar</button>
                  </div>
                </div>
              </div>
            </div>
            {% for fieldLogradouro in logradouroForm %}
              <div class="form-group">
                <label for="{{ fieldLogradouro.name }}" class="col-sm-2 control-label">
                  {{ fieldLogradouro.label }}
                </label>
                <div class="col-sm-10">
                  {{ fieldLogradouro|addcss:'form-control' }}
                  <div class="text-red">{{ fieldLogradouro.errors }}</div>
                </div>
                <br/>
              </div>
            {% endfor %}
            {% for fieldReside in resideForm %}
              <div class="form-group">
                <label for="{{ fieldReside.name }}" class="col-sm-2 control-label">
                  {{ fieldReside.label }}
                </label>
                <div class="col-sm-10">
                  {{ fieldReside|addcss:'form-control' }}
                  <div class="text-red">{{ fieldReside.errors }}</div>
                </div>
                <br/>
              </div>
            {% endfor %}
            {% for fieldBairro in bairroForm %}
              <div class="form-group">
                <label for="{{ fieldBairro.name }}" class="col-sm-2 control-label">
                  {{ fieldBairro.label }}
                </label>
                <div class="col-sm-10">
                  {{ fieldBairro|addcss:'form-control' }}
                  <div class="text-red">{{ fieldBairro.errors }}</div>
                </div>
                <br/>
              </div>
            {% endfor %}
            {% for fieldMunicipio in municipioForm %}
              <div class="form-group">
                <label for="{{ fieldMunicipio.name }}" class="col-sm-2 control-label">
                  {{ fieldMunicipio.label }}
                </label>
                <div class="col-sm-10">
                  {{ fieldMunicipio|addcss:'form-control' }}
                  <div class="text-red">{{ fieldMunicipio.errors }}</div>
                </div>
                <br/>
              </div>
            {% endfor %}
            <div class="box-header with-border">
                <h3 class="box-title">Veículo</h3>
            </div>
            {% for fieldVeiculo in veiculoForm %}
              <div class="form-group">
                <label for="{{ fieldVeiculo.name }}" class="col-sm-2 control-label">
                  {{ fieldVeiculo.label }}
                </label>
                <div class="col-sm-10">
                    {% if fieldVeiculo.name == 'combustivel' %}
                      {{ fieldVeiculo }}
                    {% elif fieldVeiculo.name == 'veiculo_proprio' %}
                      {{ fieldVeiculo }}
                    {% else %}
                      {{ fieldVeiculo|addcss:'form-control' }}
                    {% endif %}
                  <div class="text-red">{{ fieldVeiculo.errors }}</div>
                </div>
                <br/>
              </div>
            {% endfor %}
          </div>
        </div><!-- /.box -->
        <div class="box-footer" style="text-align: right; background: none;">
            <a href="/sistran/permissao/" class="btn btn-danger btn-flat">Cancelar</a>
            <input type="submit" value="Salvar" class="btn btn-success btn-flat" name="_save">
            <input type="submit" value="Salvar e adicionar outro(a)" class="btn btn-success btn-flat" name="_addanother">
            <input type="submit" value="Salvar e continuar editando" class="btn btn-success btn-flat" name="_continue">
        </div>
      </form>
    </section>
    {% endblock %}
  </div>
  {% block footer %}
  {% include "sistran/base/footer.html" %}
  {% endblock %}
</div>
{% endblock %}
{% block js-dashboard %}{% endblock %}
