
{% extends "sistran/base/sidebar_base.html" %}


{% block title %}
    SISTRAN - Listagem de Motorista
{% endblock %}



{% block content-header %}
  <section class="content-header">
      <h1>
        Listagem
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Sistran</a></li>
        <li><a href="#">Motorista</a></li>
        <li class="active">Listagem</li>
      </ol>
  </section>
{% endblock %}


{% block content %}
        <!-- Main content -->
        <section class="content">
              <!-- general form elements -->
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">Motoristas</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                 <div class="box-body">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Opções</th>
                          <th>Nome</th>
                          <th>CPF</th>
                          <th>Número CNH</th>
                          <th>Categoria CNH</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for motorista in motoristas %}
                        <tr>
                          <th scope="row">{{ motorista.id.id.id.id }}</th>
                          <th>
                            <a class="btn btn-info" href="{% url "motorista_edit" pk=motorista.pk %}">
                              <i class="fa fa-pencil"></i>
                            </a>
                            <a class="btn btn-danger" href="{% url "motorista_remove" pk=motorista.pk %}">
                                <i class="fa fa-remove"></i>
                            </a>
                          </th>
                          <td><a href="{% url "sistran.views.motorista_detail" pk=motorista.pk %}">{{ motorista.id }}</a></td>
                          <td>{{ motorista.id.id.id.cpf_cnpj }}</td>
                          <td>{{ motorista.num_cnh }}</td>
                          <td>{{ motorista.cat_cnh }}</td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>

                  </div>
              </div><!-- /.box -->

                    <ul class="object-tools" style="padding-left: 0px;">
                        <li>
                          <a href="{% url "sistran.views.motorista_new" %}" class="btn btn-primary btn-flat"><i class="fa fa-plus"></i>
                            Adicionar Motorista
                          </a>
                        </li>
                    </ul>
            </div><!--/.col (left) -->
            <!-- right column -->
       <!-- /.row -->
 </section>


{% endblock content %}