

{% extends "sistran/base/sidebar_base.html" %}


{% load filters %}

{% block title %}
    SISTRAN - Cadastro de Motorista
{% endblock %}



{% block content-header %}
  <section class="content-header">
      <h1>
        Cadastro
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Sistran</a></li>
        <li><a href="#">Novo Motorista</a></li>
        <li class="active">Cadastro</li>
      </ol>
  </section>
{% endblock %}


{% block content %}
        <!-- Main content -->
        <section class="content">
         <form role="form" class="form-horizontal" method="POST">
         {% csrf_token %}

              <!-- general form elements -->
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">Motorista</h3>
                </div><!-- /.box-header -->
                <!-- form start -->


                  <div class="box-body">
                  {% if error %}
                      <div class="alert alert-danger alert-dismissible">
                          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                          <h4><i class="icon fa fa-ban"></i> Falha ao Cadastrar!</h4>
                          Verifique os campos abaixo e corrija os erros.
                    </div>
                  {% endif %}

                            {%  for fieldPessoa in pessoaForm %}

                                <div class="form-group">
                                  <label for="{{fieldPessoa.name}}" class="col-sm-2 control-label">{{fieldPessoa.label}}</label>
                                  <div class="col-sm-10">
                                  {{fieldPessoa|addcss:'form-control'}}
                                  <p class="text-red">{{fieldPessoa.errors}}</p>
                                    </div><br/>
                                </div>

                             {% endfor %}
                                {%  for fieldPessoaFisica in pessoaFisicaForm %}

                                <div class="form-group">
                                  <label for="{{fieldPessoaFisica.name}}" class="col-sm-2 control-label">{{fieldPessoaFisica.label}}</label>
                                  <div class="col-sm-10">
                                  {{fieldPessoaFisica|addcss:'form-control'}}
                                  <p class="text-red">{{fieldPessoaFisica.errors}}</p>
                                    </div><br/>

                                </div>

                             {% endfor %}
                            {%  for fieldCidadao in cidadaoForm %}

                                <div class="form-group">
                                  <label for="{{fieldCidadao.name}}" class="col-sm-2 control-label">{{fieldCidadao.label}}</label>
                                  <div class="col-sm-10">
                                  {{fieldCidadao|addcss:'form-control'}}
                                  <p class="text-red">{{fieldCidadao.errors}}</p>
                                    </div><br/>


                                </div>

                             {% endfor %}
                                {%  for field in form %}

                                <div class="form-group">
                                  <label for="{{field.name}}" class="col-sm-2 control-label">{{field.label}}</label>
                                  <div class="col-sm-10">
                                  {{field|addcss:'form-control'}}
                                  <p class="text-red"> {{field.errors}}</p>
                                    </div><br/>

                                </div>

                             {% endfor %}

                        </div>

              </div><!-- /.box -->

                    <div class="box-footer" style="text-align: right; background: none;">

                        <input type="submit" value="Salvar" class="btn btn-success btn-flat" name="_save">
                        <input type="submit" value="Salvar e adicionar outro(a)" class="btn btn-success btn-flat" name="_addanother">
                        <input type="submit" value="Salvar e continuar editando" class="btn btn-success btn-flat" name="_continue">

                    </div>
            <!-- right column -->
       <!-- /.row -->

                    </form>
 </section>


{% endblock content %}