{% extends "sistran/base/base_site.html" %}
{% load staticfiles %}

{% block title %}
    Detalhes do Motorista - SISTRAN
{% endblock %}

{% block css-dashboard %}{% endblock %}
{% block style-login %}{% endblock %}

{% block wrapper %}
<div class="wrapper">
  {% block header %}
  {% include "sistran/base/header.html" %}
  {% endblock %}

  {% block sidebar %}
  {% include "sistran/base/sidebar.html" %}
  {% endblock %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    {% block content-header %}
    <section class="content-header">
      <h1>
        Motorista
        <small>Detalhes e Consulta de dados</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/sistran/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/sistran/motorista/"> Motoristas</a></li>
        <li class="active">Detalhes do Motorista</li>
      </ol>
    </section>
    {% endblock %}

    {% block content %}
    <!-- Main content -->
    <section class="content">
      <!-- general form elements -->
      <div class="box">
        <!-- form start -->
        <div class="box-body">
          <div class="row">
            <div class="col-sm-2">Nome</div>
            <div class="col-sm-10">{{ motorista.id|upper }}</div>
          </div>
          <br/>
          <div class="row">
            <div class="col-sm-2">CPF</div>
            <div class="col-sm-10">{{ motorista.id.id.id.cpf_cnpj|upper }}</div>
          </div>
          <br/>
          <div class="row">
            <div class="col-sm-2">Estado Civil</div>
            <div class="col-sm-10">{{ motorista.id.id.id.cpf_cnpj|upper }}</div>
          </div>
          <br/>
          <div class="row">
            <div class="col-sm-2">Sexo</div>
            <div class="col-sm-10">{{ motorista.id.id.sexo|upper }}</div>
          </div>
          <br/>
          <div class="row">
            <div class="col-sm-2">Número da CNH</div>
            <div class="col-sm-10">{{ motorista.num_cnh|upper }}</div>
          </div>
          <br/>
          <div class="row">
            <div class="col-sm-2">Categoria da CNH</div>
            <div class="col-sm-10">{{ motorista.cat_cnh|upper }}</div>
          </div>
          <br/>
          <div class="row">
            <div class="col-sm-2">Núm. RG</div>
            <div class="col-sm-10">{{ motorista.id.rg_numero|upper }}</div>
          </div>
          <br/>
        </div>
      </div><!-- /.box -->
      <a href="/sistran/motorista/" class="btn btn-success btn-flat">Voltar</a>
    </section>
    {% endblock %}
  </div>
  {% block footer %}
  {% include "sistran/base/footer.html" %}
  {% endblock %}
</div>
{% endblock %}
{% block js-dashboard %}{% endblock %}
