{% extends "sistran/base/base.html" %}

{% block title %}
Dashboard · SISTRAN
{% endblock %}

{% block style-login %}{% endblock %}

{% block header %}
{% include "sistran/base/header.html" %}
{% endblock %}

{% block sidebar %}
{% include "sistran/base/sidebar.html" %}
{% endblock %}

{% block content-header %}
{% include "sistran/base/content-header.html" %}
{% endblock %}

{% load staticfiles %}
{% block content %}
<!-- Main content -->
<section class="content">
  <!-- Info boxes -->
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
      <a href='permissao'>
        <span class="info-box-icon bg-aqua"><i class="fa fa-taxi"></i></span>
      </a>
        <div class="info-box-content">
          <span class="info-box-text">Táxi</span>
          <span class="info-box-number">{{taxisCount}}</span>
        </div><!-- /.info-box-content -->


      </div><!-- /.info-box -->
    </div><!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-red"><i class="fa fa-bus"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Alternativo</span>
          <span class="info-box-number">36</span>
        </div><!-- /.info-box-content -->
      </div><!-- /.info-box -->
    </div><!-- /.col -->

    <!-- fix for small devices only -->
    <div class="clearfix visible-sm-block"></div>

    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-green"><i class="fa fa-truck"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Escolar</span>
          <span class="info-box-number">17</span>
        </div><!-- /.info-box-content -->
      </div><!-- /.info-box -->
    </div><!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-yellow"><i class="fa fa-users"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Permissionários</span>
          <span class="info-box-number">{{permissionariosCount}}</span>
        </div><!-- /.info-box-content -->
      </div><!-- /.info-box -->
    </div><!-- /.col -->
  </div><!-- /.row -->

  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Relatório em Tempo Real</h3>
          <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <div class="btn-group">
              <button class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown"><i class="fa fa-wrench"></i></button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </div>
            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div><!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-8">
              <p class="text-center">
                <strong>Vistorias: 1 Jan, 2016 até 31 Dez, 2016</strong>
              </p>
              <div class="chart">
                <!-- Sales Chart Canvas -->
                <canvas id="salesChart" style="height: 180px;"></canvas>
              </div><!-- /.chart-responsive -->
            </div><!-- /.col -->
            <div class="col-md-4">
              <p class="text-center">
                <strong>Goal Completion</strong>
              </p>
              <div class="progress-group">
                <span class="progress-text">Alvarás próximos do vencimento</span>
                <span class="progress-number"><b>32</b>/80</span>
                <div class="progress sm">
                  <div class="progress-bar progress-bar-aqua" style="width: 80%"></div>
                </div>
              </div><!-- /.progress-group -->
              <div class="progress-group">
                <span class="progress-text">Habilitações Vencidas</span>
                <span class="progress-number"><b>12</b>123</span>
                <div class="progress sm">
                  <div class="progress-bar progress-bar-red" style="width: 15%"></div>
                </div>
              </div><!-- /.progress-group -->
              <div class="progress-group">
                <span class="progress-text">Pagamentos Pendentes</span>
                <span class="progress-number"><b>25</b>50</span>
                <div class="progress sm">
                  <div class="progress-bar progress-bar-green" style="width: 50%"></div>
                </div>
              </div><!-- /.progress-group -->

            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- ./box-body -->

      </div><!-- /.box -->
    </div><!-- /.col -->
  </div><!-- /.row -->

</section><!-- /.content -->
{% endblock %}


{% block footer %}
{% include "sistran/base/footer.html" %}
{% endblock %}