{% extends "sistran/base/base.html" %}

{% block title %}
SISTRAN | Dashboard
{% endblock %}

{% block style-login %}{% endblock %}

{% block header %}
{% include "sistran/base/header.html" %}
{% endblock %}

{% block sidebar %}
{% include "sistran/base/sidebar.html" %}
{% endblock %}

{% block content-header %}
{% include "sistran/base/content-header.html" %}
{% endblock %}

{% block content %}
{% include "sistran/base/content.html" %}
{% endblock %}

{% block footer %}
{% include "sistran/base/footer.html" %}
{% endblock %}
