{% extends "sistran/base/base.html" %}

{% block title %}
Login · SISTRAN
{% endblock %}

{% block css-extra %}{% endblock %}
{% block css-dashboard %}{% endblock %}
{% block js-jquery %}{% endblock %}

{% block bodyclass %}hold-transition login-page{% endblock %}
{% block wrapper %}
<div class="login-box">
  <div class="login-logo">
    <a href="/sistran/"><b>SIS</b>TRAN</a>
  </div><!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Entre para iniciar a sua sessão</p>
    {% if form.errors %}
      <p class="text-red text-center">Nome de usuário ou senha incorretos. Por favor, tente novamente.</p>
    {% endif %}
    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">{% csrf_token %}
      <div class="form-group has-feedback">
        {{ form.username.label_tag }}
        {{ form.username }}
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        {{ form.password.label_tag }}
        {{ form.password }}
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" value="login" class="btn btn-success btn-block btn-flat">Entrar</button>
          <input type="hidden" name="next" value="{{ next }}" />
        </div><!-- /.col -->
      </div>
      </div>
    </form>
  </div><!-- /.login-box-body -->
</div><!-- /.login-box -->
{% block footer %}
{% include "sistran/base/footer.html" %}
{% endblock %}
{% block js-default %}{% endblock %}
{% block js-extra-form %}{% endblock %}
{% block js-extra-table %}{% endblock %}
{% block js-dashboard %}{% endblock %}
{% endblock %}
