{% extends "sistran/base/base.html" %}
{% load staticfiles %}

{% block title %}
    Lista de Vistoria - SISTRAN
{% endblock %}

{% block css-dashboard %}{% endblock %}
{% block style-login %}

{% endblock %}

{% block wrapper %}
<div class="wrapper">
  {% block header %}
  {% include "sistran/base/header.html" %}
  {% endblock %}

  {% block sidebar %}
  {% include "sistran/base/sidebar.html" %}
  {% endblock %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    {% block content-header %}
    <section class="content-header">
      <h1>
        Vistorias
        <small>Visualização e Gerenciamento</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/sistran/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Vistoria</li>
      </ol>
    </section>
    {% endblock %}

    {% block content %}
    <!-- Main content -->
    <section class="content">
      <!-- general form elements -->
      <div class="box">
         <div class="box-header">
            <h3 class="box-title">
            <form id="changelist-search" method="GET">
              <div class="input-group" style="width: 18rem;">
                <input type="text" id="id_text_search" class="form-control input-sm pull-right" placeholder="Buscar Vistoria" name="q" value="{{ query }}">
                <div class="input-group-btn">
                  <button type="submit" class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                </div>
              </div>
            </form>
            </h3>
            <div class="box-tools">
              {% if perms.sistran.add_vistoria %}
                <a href="{% url "sistran.views.vistoria_new" %}" class="btn btn-success btn-flat btn-block" style="margin-top: 5px;"><i class="fa fa-plus"></i>
                  Adicionar Vistoria
                </a>
              {% endif %}
            </div>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <div class="box-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Veículo</th>
                <th>Placa</th>
                <th>Data</th>
                <th>Situação Atual</th>
                <th>Observacao</th>
                 <th>Opções</th>
              </tr>
            </thead>
            <tbody>
            {% for vistoria in vistorias %}
              <tr>
                <td>{{ vistoria.veiculo|upper }}</td>
                <td>{{ vistoria.veiculo.placa|upper }}</td>
                <td>{{ vistoria.criado_em|date:"d \d\e F \d\e Y"|upper }}</td>
                <td>{{ vistoria.check_aprovado }}</td>
                <td>{{ vistoria.observacao|upper }}</td>
                <td></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="box-footer clearfix">
          <div class="row">
    <div class="col-xs-5 col-sm-7 mg-t-06">
      <span>
        Mostrando {{ vistorias.start_index }} até {{ vistorias.end_index }} de {{ vistorias.paginator.count }} registros
      </span>
    </div>
    <div class="col-xs-7 col-sm-5">
      <nav>
        <ul class="pager txt-rgt mg-t-0 mg-b-0">
          <li class="{% if not vistorias.has_previous %}disabled{% endif %}">
          <a class="btn-pagination" href="?q={{query}}&page={% if vistorias.has_previous %}{{ vistorias.previous_page_number }}{% endif %}" aria-label="Anterior">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% if vistorias.paginator.num_pages < 12 %}
        {% for page in vistorias.paginator.page_range %}
          <li class="{% if vistorias.number == page %}active{% endif %}">
          <a class="btn-pagination" href="?q={{ query }}&page={{ page }}">{{ page }}</a>
        </li>
      {% endfor %}
    {% else %}
      {% if vistorias.number >= 1 and vistorias.number < 5 %}
        {% for page in vistorias.paginator.page_range %}
          {% if page <= 5 %}
            <li class="{% if vistorias.number == page %}active{% endif %}">
            <a class="btn-pagination" href="?q={{query}}&page={{ page }}">{{ page }}</a>
          </li>
        {% endif %}
      {% endfor %}
      <li class="disabled">
        <a class="btn-pagination">...</a>
      </li>
      <li class="
        {% if vistorias.number == vistorias.paginator.num_pages %}
          active
        {% endif %}">
        <a class="btn-pagination" href="?q={{ query }}&page={{ vistorias.paginator.num_pages }}">
          {{ vistorias.paginator.num_pages }}
        </a>
      </li>
      {% elif vistorias.number >= 5 and vistorias.number < vistorias.paginator.num_pages|add:"-3" %}
      <li class="{% if vistorias.number == page %}active{% endif %}">
      <a class="btn-pagination" href="?page=1">1</a>
    </li>
    <li class="disabled">
      <a class="btn-pagination">...</a>
    </li>
    {% for page in vistorias.paginator.page_range %}
          {% if page == vistorias.number %}
            <li class="{% if vistorias.number == vistorias.previous_page_number %}active{% endif %}">
               <a class="btn-pagination" href="?page={{ vistorias.previous_page_number }}">{{ vistorias.previous_page_number }}</a>
            </li>
            <li class="{% if vistorias.number == page %}active{% endif %}">
                <a class="btn-pagination" href="?q={{query}}&page={{ page }}">{{ page }}</a>
            </li>
            <li class="{% if vistorias.number == vistorias.next_page_number %}active{% endif %}">
                <a class="btn-pagination" href="?page={{ vistorias.next_page_number }}">{{ vistorias.next_page_number }}</a>
            </li>
        {% endif %}
    {% endfor %}
        <li class="disabled">
            <a class="btn-pagination">...</a>
        </li>
        <li class="
            {% if vistorias.number == vistorias.paginator.num_pages %}
              active
            {% endif %}">
            <a class="btn-pagination" href="?q={{ query }}&page={{ vistorias.paginator.num_pages }}">
               {{ vistorias.paginator.num_pages }}
            </a>
        </li>
                  {% elif vistorias.paginator.num_pages|add:"-3" >= 1 and vistorias.number <= vistorias.paginator.num_pages %}
                      <li class="{% if vistorias.number == page %}active{% endif %}">
                         <a class="btn-pagination" href="?page=1">1</a>
                      </li>
                      <li class="disabled">
                          <a class="btn-pagination">...</a>
                      </li>
                    {% for page in vistorias.paginator.page_range %}
                        {% if page >= vistorias.paginator.num_pages|add:"-4" %}
                            <li class="{% if vistorias.number == page %}active{% endif %}">
                                <a class="btn-pagination" href="?q={{query}}&page={{ page }}">{{ page }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                  {% endif %}
              {% endif %}
              <li class="{% if not vistorias.has_next %}disabled{% endif %}">
                  <a class="btn-pagination" href="?q={{query}}&page={% if vistorias.has_next %}{{ vistorias.next_page_number }}{% endif %}" aria-label="Próximo">
                      <span aria-hidden="true">&raquo;</span>
                  </a>
              </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div><!--/.col (left) -->
      <!-- right column -->
    </section>
    <script>
      function confirmDelete(deleteUrl) {
        if (confirm("Tem certeza de que deseja excluir esta Vistoria?")) {
          document.location = deleteUrl;
        }
      }
    </script>
    {% endblock %}
  </div>
  {% block footer %}
  {% include "sistran/base/footer.html" %}
  {% endblock %}
</div>
{% endblock %}
{% block js-dashboard %}{% endblock %}
