{% extends "sistran/base/base_site.html" %}
{% load staticfiles %}

{% block title %}
    Detalhes do Cobrador - SISTRAN
{% endblock %}

{% block css-dashboard %}{% endblock %}
{% block style-login %}{% endblock %}

{% block wrapper %}
<div class="wrapper">
  {% block header %}
  {% include "sistran/base/header.html" %}
  {% endblock %}

  {% block sidebar %}
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="{% static "img/avatar.png" %}" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{{ user.first_name }} {{ user.last_name }}</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li>
          <a href="/sistran/">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span> <small class="label pull-right bg-green">new</small>
          </a>
        </li>
        <li class="active treeview">
          <a href="#">
            <i class="fa fa-users"></i> <span>Administrativo</span> <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li class="active"><a href="/sistran/cobrador/"><i class="fa fa-circle-o"></i> Cobradores</a></li>
            <li><a href="/sistran/motorista/"><i class="fa fa-circle-o"></i> Motoristas</a></li>
            <li><a href="/sistran/proprietario/"><i class="fa fa-circle-o"></i> Proprietários</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-car"></i> <span>Trânsito</span> <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href="/sistran/veiculo/"><i class="fa fa-circle-o"></i> Veículos</a></li>
            <li><a href="/sistran/cobrador/"><i class="fa fa-circle-o"></i> Vistorias</a></li>
          </ul>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
  {% endblock %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    {% block content-header %}
    <section class="content-header">
      <h1>
        Cobrador
        <small>Detalhes e Consulta de dados</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/sistran/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/sistran/cobrador/"> Cobradores</a></li>
        <li class="active">Detalhes do Cobrador</li>
      </ol>
    </section>
    {% endblock %}

    {% block content %}
    <!-- Main content -->
    <section class="content">
      <!-- general form elements -->
      <div class="box">
        <!-- form start -->
        <div class="box-body">
          <div class="row">
            <div class="col-sm-2">Nome</div>
            <div class="col-sm-10">{{ cobrador.id|upper }}</div>
          </div>
          <br/>
          <div class="row">
            <div class="col-sm-2">CPF</div>
            <div class="col-sm-10">{{ cobrador.id.id.id.cpf_cnpj|upper }}</div>
          </div>
          <br/>
          <div class="row">
            <div class="col-sm-2">Estado Civil</div>
            <div class="col-sm-10">{{ cobrador.id.id.id.cpf_cnpj|upper }}</div>
          </div>
          <br/>
          <div class="row">
            <div class="col-sm-2">Sexo</div>
            <div class="col-sm-10">{{ cobrador.id.id.sexo|upper }}</div>
          </div>
          <br/>
          <div class="row">
            <div class="col-sm-2">Núm. RG</div>
            <div class="col-sm-10">{{ cobrador.id.rg_numero|upper }}</div>
          </div>
          <br/>
        </div>
      </div><!-- /.box -->
      <a href="/sistran/cobrador/" class="btn btn-success btn-flat">Voltar</a>
    </section>
    {% endblock %}
  </div>
  {% block footer %}
  {% include "sistran/base/footer.html" %}
  {% endblock %}
</div>
{% endblock %}
{% block js-dashboard %}{% endblock %}
